@font-face {
    font-family: 'halloween_font'; /* Choose a name for the font */
    src: url('HalloweenWhispers-zrmyG.ttf') format('truetype')
}


body {
    margin: 0;
    background-color: rgb(63, 36, 0);
}

/* --------------- Header --------------- */

header, footer{
    background-color: orange;
    color: black;
}

header h1, footer h3{
    font-family: 'halloween_font';
    text-align: center;
    font-size: 5em;
    padding:25px;
    margin-top: 0;
}
nav {
    text-align: center;
    padding-bottom: 50px;
}
nav a{
    text-decoration: none;
    color:black;
    font-family: 'halloween_font';
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2em;
}

nav a:hover{
    color:yellow;
}

/* --------------- Main --------------- */

section {
    background-color: rgb(253, 210, 131);
    margin: 20px;
    border-radius: 20px;
}

/* --------------- Countdown --------------- */

#time {
    height: 200px;
}

#time p {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 40px;
    font-family: 'halloween_font';
}

#time span {
    font-family: monospace, serif;
    color: red;
}

/* --------------- Trick or Treat --------------- */

#trick-or-treat {
    position: relative;
    height: 200px;
}

#trick-or-treat button {
    position: absolute;
    left: 20%; top: 50%;
    padding: 25px;
    transform: translateY(-50%);
    background-color: orange;
    border-radius: 10px;
    font-family: 'halloween_font';
    font-size: 30px;
}


#trick-or-treat img {
    width: 150px;
    position: absolute;
    right: 20%; top: 50%;
    padding: 25px;
    transform: translateY(-50%);
}

/* --------------- Halloween Info --------------- */

#halloween_info_links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.jack_o_lanterns{
    background-color: black;
    max-width: 25em;
    border-radius: 2em;
    margin: 4em;
}
.jack_o_lanterns img{
    width: 100%;
    max-width: 25em;
    border-radius: 2em;
}
.jack_o_lanterns p{
    padding: 1em;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jack_o_lanterns:hover {
    transform: scale(1.1); /* Expand on hover by 10% */
} 

/* --------------- Footer --------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer h3 {
    margin-bottom: 0;
}

footer p {
    text-align: center;
    margin-left: 20px;
}

.github:hover {
    fill: yellow;
}

@media screen and (max-width: 1000px) {
    #halloween_info_links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    #halloween_info_links div:last-child {
        grid-column: 1 / 3;
        margin: 0 auto 50px auto;
    }
}


@media screen and (max-width: 800px){
    
    #trick-or-treat button {
        left: 10%;
    }
    #trick-or-treat img {
        right: 10%;
    }

    #time p {
        text-wrap: wrap;
        line-height: 100px;
    }
    
    #halloween_info_links { 
        display: flex;
        flex-direction: column;
    }
    .jack_o_lanterns {
        margin: 40px auto;
    }
    footer svg {
        margin-right: 20px;
    }
}